
h1{
    align-items: center;
    width: 200px;
    height: -0px;
}
form {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.form{
    background-color: #bdb9b9;;
    position: fixed; 
    top: 0;
    left: 0; 
}
img{
    margin-bottom: -40px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: -70px;
}
h4 {
  margin-bottom: -0px;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 25px;
  width: 300px;
  margin-bottom: 10px;
}

button {
  width: 100px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  left: -175px;
}

span {
  color: red;
  position:absolute;
  margin-top: 50px;
}